body{
    padding: 0%;
    margin: 0px;
}
.footer{
    display: flex;
    gap: 270px;
    width: 100%;
    height: 350px;
    background-color: rgb(73, 73, 247);
    margin: 0%;
    padding: 0%;
}
.foot{
    display: inline-block;
    padding-top: 20px;
    padding-left: 100px;
    font-family: sans-serif;
}
.footone{
    padding-top: 20px;
    font-family: sans-serif;    
}